* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

.header img {
  height: 60px;
}

.header h1 {
  color: white;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

.wrap-input {
  width: 49%;
  background-color: red;
}

select {
  width: 290px;
}

main {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

#trybewarts-forms-logo {
  height: 500px;
}

#section2 {
  display: flex;
  flex-direction: row;
}

#section2-content {
  display: flex;
  flex-direction: column;
  width: 60%;
}

#section2-family {
  display: flex;
  flex-direction: column;
  width: 40%;
}

/*
#section3 {

} */
