* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inknut Antiqua, serif;
}

body {
  background-color: rgb(238, 238, 238);
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

.header img {
  height: 60px;
}

.header h1 {
  color: white;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#section1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 20px 0;
  padding: 50px 0;
  border-bottom: 1px solid gray;
}

.wrap-input {
  font-size: 20px;
  width: 330px;
  height: 50px;
  border: none;
  padding: 10px 0 10px 10px;
  border-radius: 4px;
}

#div-wrap-input {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 15px;
  align-items: center;
  font-size: 24px;
}

#div-wrap-input select {
  border: 1px gray solid;
  border-radius: 3px;
  background-color: white;
  text-align: center;
  font-size: 20px;
  width: 180px;
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

#trybewarts-forms-logo {
  height: 500px;
}

#section2 {
  display: flex;
  flex-direction: row;
  padding: 50px 0;
  border-bottom: 1px solid gray;
  font-size: 24px;
}

#section2-content {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: space-between;
  gap: 20px;
}

#section2-content div {
  display: flex;
  justify-content: space-between;
}

#section2-content div label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#section2-family {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: space-between;
  gap: 20px;
}

#section3 {
  display: flex;
  flex-direction: column;
}

#avaliacao-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  font-size: 16px;
}

#coment-container {
  display: flex;
  flex-direction: column;
}

#comentario {
  width: 100%;
}

#coment-container p {
  position: relative;
}

/* #agreement-container {
} */

/* #div-button {
} */
